
* {
    box-sizing: border-box
}
 #header {
     width: 100%;
     height: 75px;
    /*margin: 0 auto;
    */
     background-color: #C3E7FD;
}
 #logo {
     margin-left: 30px;
}
 .tabs ul {
     background-color: #555;
     list-style-type: none;
     margin:0;
     padding: 0;
     overflow: hidden;
     border: 1px solid gray;
}
 .tabs li {
     float: left;
}
 .tabs li a {
     color: white;
     display: inline-block;
    /*padding: 5px;
    */
     border-width: 0px 1px 1px 1px;
     padding: 14px 16px;
     transition: 0.3s;
     text-decoration: none;
     text-align: center;
}
 .tabs li a:hover {
     background-color: lightgray;
     color: black;
}
 .tabcontent {
     display: none;
    /* padding: 6px 12px;
    */
     -webkit-animation: fadeEffect 1s;
     animation: fadeEffect 1s;
     padding: 25px 20px;
     height: auto;
     margin-left: 
}
/* Fade in tabs */
 @-webkit-keyframes fadeEffect {
     from {
        opacity: 0;
    }
     to {
        opacity: 1;
    }
}
 @keyframes fadeEffect {
     from {
        opacity: 0;
    }
     to {
        opacity: 1;
    }
}
 #slider {
     width: 80%;
     height: 400px;
     border: 1px solid black;
     margin: 0 auto;
     position: relative;
}
 #slider>div>img {
     width: 100%;
     height: 100%;
     position: absolute;
     display: block;
}
 #slider>button {
     position: absolute;
     width: 50px;
     height: 50px;
     border: none;
     border-radius: 25px;
     top: 200px;
     background:lightgray;
     color: blue;
     font-size: 20px;
}
 #slider>#btn1:hover {
     opacity: 1;
     -webkit-transition: all 0.2s ease;
}
 #slider>#btn2 {
     position: relative;
     float: right;
}
/*Type-a-head*/
 .ui-autocomplete {
     max-height: 100px;
     overflow-y: auto;
    /* prevent horizontal scrollbar */
     cursor: pointer;
     overflow-x: hidden;
     margin-left: 100px;
     margin-top: 265px;
}
/* .ui-autocomplete:hover{
     color: red;
}
*/
 * html .ui-autocomplete {
     height: 100px;
}
 @media screen and (max-width: 600px) {
     .main {
         position: relative;
    }
     .tabs ul {
         position: relative;
         overflow: hidden;
    }
     .tabs li a {
         float: left;
         display: block;
         text-align: center;
    }
     .tabcontent {
         display: none;
         position: relative;
    }
     #header {
         width: 50%;
    }
     #logo{
         position: relative;
         width: 50%;
    }
}
/*light box*/
 #background_overlay {
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0, 0.9);
     z-index: 999;
     overflow: auto;
}
 .container_img {
     position: relative;
     max-width: 1000px;
     max-height: 600px;
     margin: 2% auto;
     animation-name: zoom_image;
     animation-duration: 0.4s;
}
 .con-ac-ar {
     width: 1000px;
     height: 600px;
     position: relative;
}
 .closebtn {
     text-align: right;
     font-size: 2.5em;
     color: rgb(255, 255, 255);
     cursor: pointer;
}
 .activePopUpImg {
     width: 1000px;
     height: 500px;
     padding: 5px;
     background-color: rgb(255, 255, 255);
     border-radius: 5px;
}
 .previousImage, .nextImage {
     color: #fff;
     font-size: 2.5em;
     cursor: pointer;
     opacity: 0;
     width: 80px;
     text-align: center;
}
 .previousImage {
     position: absolute;
     line-height: 600px;
     top: 0;
     left: 0;
     bottom: 0;
}
 .nextImage {
     position: absolute;
     line-height: 600px;
     top: 0;
     right: 0;
     bottom: 0;
}
 .previousImage:hover {
     opacity: 1;
     transition: 0.4s;
}
 .nextImage:hover {
     opacity: 1;
     transition: 0.4s;
}
 @keyframes zoom_image {
     from {
         transform: scale(0.5) 
    }
     to {
         transform: scale(1) 
    }
}
 @media screen and (min-width: 650px) and (max-width: 1100px) {
     .container_img {
         width: 100%;
         height: 500px;
    }
     .con-ac-ar {
         width: 100%;
         height: 500px;
    }
     .activePopUpImg {
         width: 100%;
         height: 500px;
    }
     .previousImage, .nextImage {
         line-height: 500px;
    }
}
 @media screen and (min-width: 351px) and (max-width: 649px) {
     .container_img {
         width: 100%;
         height: 400px;
    }
     .con-ac-ar {
         width: 100%;
         height: 400px;
    }
     .activePopUpImg {
         width: 100%;
         height: 400px;
    }
     .previousImage, .nextImage {
         line-height: 400px;
    }
}
 @media screen and (max-width: 350px) {
     .container_img {
         width: 100%;
         height: 300px;
    }
     .con-ac-ar {
         width: 100%;
         height: 300px;
    }
     .activePopUpImg {
         width: 100%;
         height: 300px;
    }
     .previousImage, .nextImage {
         line-height: 300px;
    }
}
/*Modal Pop */
/* Outer */
 .popup {
     width:100%;
     height:100%;
     display:none;
     position:fixed;
     top:0px;
     left:0px;
     background:rgba(0,0,0,0.75);
}
/* Inner */
 .popup-inner {
     max-width:700px;
     width:90%;
     padding:40px;
     position:absolute;
     top:50%;
     left:50%;
     -webkit-transform:translate(-50%, -50%);
     transform:translate(-50%, -50%);
     box-shadow:0px 2px 6px rgba(0,0,0,1);
     border-radius:3px;
     background:#fff;
}
/* Close Button */
 .popup-close {
     width:30px;
     height:30px;
     padding-top:4px;
     display:inline-block;
     position:absolute;
     top:0px;
     right:0px;
     transition:ease 0.25s all;
     -webkit-transform:translate(50%, -50%);
     transform:translate(50%, -50%);
     border-radius:1000px;
     background:rgba(0,0,0,0.8);
     font-family:Arial, Sans-Serif;
     font-size:20px;
     text-align:center;
     line-height:100%;
     color:white;
     background-color: red;
}
 .popup-close:hover {
     -webkit-transform:translate(50%, -50%) rotate(180deg);
     transform:translate(50%, -50%) rotate(180deg);
     background:rgba(0,0,0,1);
     text-decoration:none;
}
 .rating-widget {
     font-family:"Open Sans", Helvetica, Arial, sans-serif;
     color:#555;
     max-width:680px;
     margin:0 auto;
     padding:0 20px;
}
 * {
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing:border-box;
}
 *:before, *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 .clearfix {
     clear:both;
}
 .text-center {
    text-align:center;
}
 pre {
     display: block;
     padding: 9.5px;
     margin: 0 0 10px;
     font-size: 13px;
     line-height: 1.42857143;
     color: #333;
     word-break: break-all;
     word-wrap: break-word;
     background-color: #F5F5F5;
     border: 1px solid #CCC;
     border-radius: 4px;
}
 .header {
     padding:20px 0;
     position:relative;
     margin-bottom:10px;
}
 .header:after {
     content:"";
     display:block;
     height:1px;
     background:#eee;
     position:absolute;
     left:30%;
     right:30%;
}
 .header h2 {
     font-size:3em;
     font-weight:300;
     margin-bottom:0.2em;
}
 .header p {
     font-size:14px;
}
 .success-box {
     margin:50px 0;
     padding:10px 10px;
     border:1px solid #eee;
     background:#f9f9f9;
}
 .success-box img {
     margin-right:10px;
     display:inline-block;
     vertical-align:top;
}
 .success-box > div {
     vertical-align:top;
     display:inline-block;
     color:#888;
}
/* Rating Star Widgets Style */
 .rating-stars ul {
     list-style-type:none;
     padding:0;
     background-color: #ffff;
     border: none;
     -moz-user-select:none;
     -webkit-user-select:none;
}
 .rating-stars ul > li.star {
     display:inline-block;
}
/* Idle State of the stars */
 .rating-stars ul > li.star > i.fa {
     font-size:2.0em;
    /* Change the size of the stars */
     color:#ccc;
    /* Color on idle state */
}
/* Hover state of the stars */
 .rating-stars ul > li.star.hover > i.fa {
     color:#FFCC36;
}
/* Selected state of the stars */
 .rating-stars ul > li.star.selected > i.fa {
     color:#FF912C;
}
 